<!-- views/edit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Product</title>
</head>
<body>
  <h1>Edit Product</h1>
  <form action="/products/edit/<%= product._id %>" method="POST">
    <label for="name">Name:</label>
    <input type="text" name="name" value="<%= product.name %>" required>
    <br>
    <label for="description">Description:</label>
    <textarea name="description"><%= product.description %></textarea>
    <br>
    <label for="price">Price:</label>
    <input type="number" name="price" value="<%= product.price %>" required>
    <br>
    <button type="submit">Update</button>
  </form>
</body>
</html>
